/* Add styles here */
body{
    background-image: url("IMAGE/images.jpg");
    background-repeat: no-repeat;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    padding:0px;
    background-color: white;
    opacity: 40%;
}
.navbarmenu{
    text-align: right;
    padding: 5px;
}
.navbarmenulist{
    list-style: none;
}
.navbarmenulist > li{
    display: inline-block;
    padding: 0px 5px;
}
.navbarmenulist > li > a{
    text-decoration: none;
    color: black;
}
.navbarmenulist >li> a:hover{
    font-weight: bold;
    color: white;
    background-color: black;
}
.navbarjudul{
    text-decoration: none;
    color: black;
    font-size: 2em;
    position: relative;
    top: 30px ;
    left: 15px;
    text-shadow: 2px 2px 8px black;
}
#txhello{
    font-size: 40px;
    position: relative;
    top:200px;
    left:25%;
}
#btn1{
    position: relative;
    font-size: 12px;
    padding: 10px 50px ;
    border-radius: 18px;
    top: 175px;
    left: 35%;
}
#btn1:hover{
    color: aqua;
}